includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    level: max

    excludePaths:
        - bootstrap/*
        - storage/*
        - vendor/*

    checkModelProperties: true
    inferPrivatePropertyTypeFromConstructor: true
